<?xml version="1.0"?>
<objects>
    <menuobject menuobjectname="StartGame">
    	<state name = "FightingGame" nextState = "ModeSelectMenu" >
            <frame image="fighter/images/StartGame.gif" />
        </state>
    </menuobject>
    <menuobject menuobjectname="1v1">
    	<state name = "1v1" nextState ="CharacterSelectMenu">
            <frame image="fighter/images/1v1.jpg" />
        </state>
    </menuobject>
    <menuobject menuobjectname="Ryu">
    	<state name = "Ryu" nextState ="MapSelectMenu">
            <frame image="fighter/images/ryu_stand1.gif" />
        </state>
    </menuobject>
    <menuobject menuobjectname="Ken">
    	<state name = "Ken" nextState ="MapSelectMenu">
            <frame image="fighter/images/ken_stand1.gif" />
        </state>
    </menuobject>
    <menuobject menuobjectname="MainMenu">
    	<state name = "MainMenu" nextState ="MainMenu">
            <frame image="fighter/images/MainMenu.jpg" />
        </state>
    </menuobject>
    <menuobject menuobjectname="CharacterSelectMenu">
    	<state name = "CharacterSelectMenu" nextState ="CharacterSelectMenu">
    		<frame image="fighter/images/CharacterSelect.png" />
    	</state>
    </menuobject>
    <menuobject menuobjectname = "MapChoice">
    	<state name = "BlueMap" nextState = "1v1">
    		<frame image = "fighter/images/FinalDestination.jpg" />
    	</state>
   	</menuobject>
   	 <menuobject menuobjectname = "BacktoCharacter">
    	<state name = "MainMenu" nextState = "MainMenu">
    		<frame image = "fighter/images/back.png" />
    	</state>
   	</menuobject>
</objects>