<?xml version="1.0"?>
<objects>
    <menuobject menuobjectname="StartGame">
    	<state name = "Unselected">
            <frame image="games/fighter/MattJimmyExample/images/StartGame.gif" />
         </state>
         <state name = "Selected">
            <frame image="games/fighter/MattJimmyExample/images/StartGame.gif" />
            <frame image="games/fighter/MattJimmyExample/images/fire.png" />           
        </state>
    </menuobject>
    <menuobject menuobjectname="1v1">
    	<state name = "Unselected">
            <frame image="games/fighter/MattJimmyExample/images/1v1.jpg" />
        </state>
        <state name = "Selected">
            <frame image="games/fighter/MattJimmyExample/images/1v1.jpg" />
            <frame image="games/fighter/MattJimmyExample/images/fire.png" />   
        </state>
    </menuobject>
    <menuobject menuobjectname="Ryu">
    	<state name = "Unselected">
            <frame image="games/fighter/MattJimmyExample/images/ryu_stand1.png" />
        </state>
        <state name = "Selected">
            <frame image="games/fighter/MattJimmyExample/images/ryu_stand1.png" />
            <frame image="games/fighter/MattJimmyExample/images/fire.png" />   
        </state>
    </menuobject>
    <menuobject menuobjectname="Ken">
    	<state name = "Unselected">
            <frame image="games/fighter/MattJimmyExample/images/ken_stand1.png" />
        </state>
        <state name = "Selected">
            <frame image="games/fighter/MattJimmyExample/images/ken_stand1.png" />
            <frame image="games/fighter/MattJimmyExample/images/fire.png" />   
        </state>
    </menuobject>
    <menuobject menuobjectname="MainMenu">
    	<state name = "Unselected">
            <frame image="games/fighter/MattJimmyExample/images/MainMenu.jpg" />
        </state>
        <state name = "Selected">
            <frame image="games/fighter/MattJimmyExample/images/MainMenu.jpg" />
            <frame image="games/fighter/MattJimmyExample/images/fire.png" />   
        </state>
    </menuobject>
    <menuobject menuobjectname="CharacterSelectMenu">
    	<state name = "Unselected">
    		<frame image="games/fighter/MattJimmyExample/images/CharacterSelect.png" />
    	</state>
    	<state name = "Selected">
            <frame image="games/fighter/MattJimmyExample/images/CharacterSelect.png"  />
            <frame image="games/fighter/MattJimmyExample/images/fire.png" />   
        </state>
    </menuobject>
    <menuobject menuobjectname = "BlueMap">
    	<state name = "Unselected">
    		<frame image = "games/fighter/MattJimmyExample/images/FinalDestination.jpg" />
    	</state>
    	<state name = "Selected">
            <frame image="games/fighter/MattJimmyExample/images/FinalDestination.jpg" />
            <frame image="games/fighter/MattJimmyExample/images/fire.png" />   
        </state>
   	</menuobject>
   	 <menuobject menuobjectname = "BacktoCharacter">
    	<state name = "Unselected">
    		<frame image = "games/fighter/MattJimmyExample/images/back.png" />
    	</state>
    	 <state name = "Selected">
            <frame image="games/fighter/MattJimmyExample/images/back.png" />
            <frame image="games/fighter/MattJimmyExample/images/fire.png" />   
        </state>
   	</menuobject>
   	<menuobject menuobjectname = "NewMap">
    	<state name = "Unselected">
    		<frame image = "games/fighter/MattJimmyExample/images/new2.jpg" />
    	</state>
    	<state name = "Selected">
            <frame image="games/fighter/MattJimmyExample/images/new2.jpg" />
            <frame image="games/fighter/MattJimmyExample/images/fire.png" />   
        </state>
   	</menuobject>
</objects>